.homepage {
    padding: 2rem 4rem;
    height: calc(100vh - 6.5rem);
    background: var(--light-orange);
    overflow-y: scroll;
}

.recipes {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.5rem;
        margin-top: 2.5rem;
        

        li {
            transition: transform 0.2s, filter 0.2s;
            
            &:hover {
                transform: scale(1.05);
                filter: brightness(0.9);
            }
        }

        
    }
}

.cardContainer {
    height: 27rem;
    width: 27rem;
    border-radius: 20px;
    border: 2px solid var(--dark-orange);
    background: var(--orange);

    display: flex;
    flex-direction: column;

    div {
        display: flex; 
    }

    img {
        width: 12.5rem;
        border: 2px solid var(--dark-orange);
        border-radius: 10px;
        margin: 1rem 1rem;
        max-height: 196px;
    }
    
    h3 {
        margin: 5.5rem 1rem;
        color: var(--gray-50);
    }

    p {
        font-family: "Lexend", sans-serif;
        margin: 1rem 1rem;
        color: var(--gray-50);
    }
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 1rem 1rem;
        color: var(--gray-50);
    }

    img {
        border-radius: 30px;
        height: 15rem;
        width: 15rem;
        max-height: 15rem;
        border: 3px solid var(--dark-orange);
    }

    p {
        margin: 2rem 2rem;
        font-family: "Lexend", sans-serif;
        color: var(--gray-50);
    }

    .information {

        display: flex;
        flex-direction: row;
        gap: 8rem;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                color: var(--gray-50);
            }
        }
    }

    button {
        margin-top: 5rem;
        outline: 0;
        border: 0;
        width: 4rem;
        height: 2rem;
        border-radius: 10px;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}